---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/house/CO/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PROPUBLICA_SECRET_KEY"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 5cff6ee1-9d72-4ad0-96bc-ec9e2291e65a
      X-Amz-Apigw-Id:
      - H0uohGigoAMF9Ug=
    body:
      encoding: UTF-8
      string: |
        {
           "status":"OK",
           "copyright":"Copyright (c) 2023 Pro Publica Inc. All Rights Reserved.",
           "results":[
              {
                 "id": "D000197",
                 "name": "Diana DeGette",
                 "first_name": "Diana",
                 "middle_name": null,
                 "last_name": "DeGette",
                 "suffix": null,
                 "role": "Representative",
                 "gender": "F",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "RepDianaDeGette",
                 "facebook_account": "DianaDeGette",
                 "youtube_id": "RepDianaDeGette",
                 "seniority": "28",
                 "next_election": "2024",
                 "api_uri": "https://api.propublica.org/congress/v1/members/D000197.json",
                 "district": "1",
                 "at_large": false
              },
              {
                 "id": "N000191",
                 "name": "Joe Neguse",
                 "first_name": "Joe",
                 "middle_name": null,
                 "last_name": "Neguse",
                 "suffix": null,
                 "role": "Representative",
                 "gender": "M",
                 "party": "D",
                 "times_topics_url": null,
                 "twitter_id": "RepJoeNeguse",
                 "facebook_account": null,[...]
[...]
